#text_images_container #gallery{
    padding-left: 0px;
    padding-right: 0px;
}

#text_images_container #gallery div{
    padding: 10px;
    text-align: center;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { 
    .text-center-sm{
        text-align: center;
    }
} 